{% extends 'base.html' %} {%block head%} About Us-Aerial Photography
{%endblock%} {%block header%}

{%endblock%} {%block body%}


    <div class="card-columns">
      <div class="card mb">
        <div class="card-body">
          <h3 class="card-title text-dark">Spenser Golon</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <img src="../static/images/portrait.JPG" class="card-img-bottom" alt="Portrai of Spenser Golon">
      </div>
      <div class="card p-2">
        <div class="card-body">
          <h3 class="card-title text-dark text-center">Photographer</h3>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis maxime sint dicta possimus amet iusto dolorum voluptates ipsum eveniet saepe!</p>
        </div>
      </div>
      
      <div class="card p-2">
        <div class="card-body">
          <h3 class="card-title text-dark text-center">Social media</h3>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        </div>
        <div class="card p-1">
          <div class="card-body">
            <h3 class="card-title text-dark text-center">Affiliated Partners</h3>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        
    </div>
  
</article>





{%endblock%}
